<body>
  <!-- Title -->
  <section id="title" class="gradient-background">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/images/Money.jpg" class="sharing-money" alt="Compartir dinero" loading="lazy" width="auto" height="500px">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Explit app</h1>
          <p class="lead">Comparte gastos con tus familiares y amigos sin complicaciones</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="the-button">¡Empieza ahora!</button>
          </div>
        </div>
      </div>  
    </div>
  </section>
  
  <!-- Features -->
  <section id="features">
    <div class="container">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="0" height="1em"><use xlink:href="#toggles2"></use></svg>
          <img class="features-img" src="../../../assets/images/check-circle.svg" alt="Fácil de usar">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Fácil de usar</h3>
          <p>Paga fácilmente a tus amigos en un par de clicks</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img class="features-img" src="../../../assets/images/globe2.svg" alt="Para todos">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Para todos</h3>
          <p>Accesible a todo el mundo. Crea los grupos que quieras con las personas que quieras</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" >
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img class="features-img" src="../../../assets/images/currency-exchange.svg" alt="Salda cuentas">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Garantía de éxito</h3>
          <p>Salda tus cuentas y encuentra la tranquilidad de no tener deudas</p>
          
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- instructions-->
  <section id="instructions">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2">¿Cómo funciona?</h2>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"> <img class="number-img" src="../../../assets/images/1-square.svg" alt="Uno">Regístrate gratis</h3>
          <p>Completa el formulario de registro con tus datos básicos</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><img class="number-img" src="../../../assets/images/2-square.svg" alt="Dos">Crea un grupo</h3>
          <p>Crea un grupo específico, como un viaje o los gastos compartidos de una casa compartida</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><img class="number-img" src="../../../assets/images/3-square.svg" alt="Tres">Invita a tus amigos</h3>
          <p>Invita a tus amigos al grupo añadiendo sus correos electrónicos</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><img class="number-img" src="../../../assets/images/4-square.svg" alt="Cuatro">Comenzad las transacciones</h3>
          <p>Reparte los gastos entre los miembros del grupo</p>
        </div>
      </div> 
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button class="the-button">¡Empieza ahora!</button>
    </div>
  </div>
 </section>
 
  <!-- Testimonial -->
  <section id="testimonial">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="flex-container">
        <div class="first-card">
            <h2>"Ahora pago a mis amigos sin complicaciones y tengo la tranquilidad de no deberle dinero a nadie"</h2>
           <img src="../../../assets/images/jmss.svg" alt="Pagando" height="200" width="200">
           <p>José Miguel Sancho Sánchez, Madrid</p>
          </div>
      </div>
    </div>
  </section>

  
  <!-- About us -->
  
  <section id="about">
    <div class="container">
      <h3>About us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

</body>