
  <!-- Hero Section -->
  <section id="title" class="gradient-background py-5">
    <div class="container pt-6">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6">
          <h1 class="mb-4 lh-1 text-light fs-md"><span class="text-accent">Comparte gastos</span> con tus amigos sin complicaciones</h1>
          <h2 class="mb-3 text-light mb-4 fs-sm fw-light">Facilita la gestion y división de pagos en grupo</h2>
          <button class="btn btn-outline-light px-5 py-3 rounded-3 mt-2 d-inline-block">¡Empieza ahora!</button>
        </div>
        <div class="col-12 col-lg-6 d-none d-md-block">
          <img src="../../../assets/images/Money.jpg" class="image-fluid" alt="Dinero en metálico">
        </div>
      </div>
    </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="gradient-background py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="fs-2 text-light fw-medium mb-3 text-center">¿Por qué escoger Explit?</h3>
        </div>
      </div>
      <div class="row mt-3 g-4">
        <div class="col-12 col-lg-4">
          <div class="card card-box-1 h-100 p-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <i class="bi bi-check2-circle icons me-3"></i>
            <h4 class="fs-4 text-light">Fácil de usar</h4>
            </div>
            <p class="text-light">Paga fácilmente a tus amigos en un par de clicks</p>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card card-box-1 h-100 p-3 d-flex flex-column">
            <div class="d-flex align-items-center">
            <i class="bi bi-globe2 icons me-3"></i>
            <h4 class="fs-4 text-light">Para todos</h4>
            </div>
            <p class="text-light">Accesible a todo el mundo. Crea los grupos que quieras con las personas que quieras</p>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card card-box-1 h-100 p-3 d-flex flex-column">
            <div class="d-flex align-items-center">
            <i class="bi bi-currency-exchange icons me-3"></i>
            <h4 class="fs-4 text-light">Garantía de éxito</h4>
            </div>
            <p class="text-light">Salda tus cuentas y encuentra la tranquilidad de no tener deudas</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Instructions -->
    <section id="instructions" class="gradient-background py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="fs-2 text-light fw-medium mb-3 text-center">¿Cómo funciona?</h3>
        </div>
      </div>
    
      <div class="row mt-3 g-4 justify-content-center">
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
          <div class="card card-box-2 h-100 p-3 text-center">
            <i class="bi bi-1-circle icons"></i>
              <h4 class="fs-4 fw-medium text-light">Regístrate gratis</h4>
              <i class="bi bi-card-checklist icons instructions"></i>
            <p class="text-light">Completa el formulario de registro con tus datos básicos</p>
          </div>
        </div>

        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
          <div class="card card-box-2 h-100 p-3 text-center">
            <i class="bi bi-2-circle icons"></i>
            <h4 class="fs-4 fw-medium text-light">Crea un grupo</h4>
            <i class="bi bi-people-fill icons instructions"></i>
            <p class="text-light">Crea un grupo específico, como un viaje o los gastos compartidos de una casa compartida</p>
          </div>
        </div>

        <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
          <div class="card card-box-2 h-100 p-3 text-center">
            <i class="bi bi-3-circle icons"></i>
            <h4 class="fs-4 fw-medium text-light">Invita a tus amigos</h4>
            <i class="bi bi-envelope-arrow-up icons instructions"></i>
            <p class="text-light">Invita a tus amigos al grupo añadiendo sus correos electrónicos</p>
          </div>
        </div>

        <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
          <div class="card card-box-2 h-100 p-3 text-center">
            <i class="bi bi-4-circle icons"></i>
            <h4 class="fs-4 fw-medium text-light">Comenzad a compartir</h4>
            <i class="bi bi-cash-stack icons instructions"></i>
            <p class="text-light">Reparte los gastos entre los miembros del grupo</p>
          </div>
        </div>

        <div class="col-12 text-center">
          <div class="d-inline-block mx-auto">
            <button class="btn btn-outline-light px-5 py-3 rounded-3 mt-2">¡Regístrate!</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonial -->

  
  <!-- About us -->
  <section id="about" class="gradient-background py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="fs-2 text-light fw-medium mb-3 text-center">Sobre nosotros</h3>
        </div>
      </div>
      <div class="row mt-3">
          <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
  </section>