<!-- Información general del grupo -->
@if (infoGroup !== undefined) {
    <div class="accordion">
    <div class="accordion-item" id="heading{{infoGroup.description}}">
        <h4 class="accordion-header d-flex justify-content-between align-items-center">
            <button class="accordion-button collapsed mx-3" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapseOne'+infoGroup.group_id" aria-expanded="false"
                aria-controls="flush-collapseOne">
                {{infoGroup.description}}
                @if (infoGroup.is_admin) {
                <span id="role-tag" class="badge rounded-pill text-bg-danger ms-3">ADMIN</span>
                }
            </button>
            @if (!isGroupHome()) {
            <button class="btn btn-outline-light d-flex d-inline-block" (click)="goToGroup(infoGroup.group_id)" title="Ver grupo">
                <span class="me-3">Entrar</span><mat-icon fontIcon="groups" class="fs-4"></mat-icon>
            </button>
            }
    </h4>

    <div id="flush-collapseOne{{infoGroup.group_id}}" class="accordion-collapse collapse"
    data-bs-parent="#infoGroupAccordion">
    <div class="accordion-body">
        <div class="card gradient-background">
            <div class="p-5">
                <div class="row mt-3 g-4 justify-content-center">
                    <p class="text-light">Usuario Creador: <span>{{infoGroup.creator_user}}</span></p>
                    <p class="text-light">Categoría: <span>{{infoGroup.category}}</span></p>
                    <hr>
                </div>
            </div>
        </div>

        @if (infoGroup !== undefined && infoGroup.thereAreExpenses) {
            <table class="table table-striped table-striped-columns table-rounded">
                <thead>
                    <tr>
                        <th scope="col">Gastos total</th>
                        <th scope="col">Mi saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <td scope="col">{{formatAmount(infoGroup.totalexpenses)}}</td>
                        <td scope="col">{{formatAmount(infoGroup.balance)}}</td>
                    </tr>
                </tbody>
            </table>

            
        } @else {
            <p class="text-center">No hay gastos registrados</p>
        }
    </div>
</div>
</div>
</div>

}

              
                    