.label-info-table {
    width: 150px;
}

.payments-field {
    align-items: center;
    text-align: center;
}

.btn-secondary {
    background-color: #80afdf !important;
    border-color: #80afdf !important;
    font-size: small;
    border-radius: 5px;
    margin-right: 2em;
}

.accordion-header {
    background-color: #80afdf !important;
    border-color: #80afdf !important;
    font-size: small;
    font-weight: 700;
    border-radius: 10px;
}

.accordion-button {
    background-color: #bbd4ee !important;
    border-color: #bbd4ee !important;
    border-radius: 10px;
    font-weight: 700;
}

#infoGroupAccordion {
    min-width: 450px;
    max-width: 600px;
}

#role-tag {
    font-size: x-small !important;
    font-weight: 500;
}

.nav-link {
    color: #135496 !important;
}

.menu-option {
    font-weight: 700;
}

.filter-option {
    text-decoration: underline;
}