.btn {
  width: 100%;
}

label {
  align-content: center;
  font-size: var(--p-size);
  font-family: var(--p-font);
  color: var(--font-color);
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid tomato;
}


input.ng-valid.ng-touched{
    border-bottom: 2px solid rgb(37, 134, 190)
}

.error-msg {
    font-size: small;
    color: tomato;
}

.modal {
  z-index: 1055;
}

.modal-backdrop {
  z-index: 1050;
}

.modal.fade.show {
  display: block;
}

.custom-border {
  border: 1px solid var(--primary-accent);
}

form, .modal-background {
  background-color: rgb(53, 0, 59) !important;
}

.modal-title {
  color: var(--primary-accent);
}

