.card {
    border: 0;
}

.card-body {
    text-align: center;
}


.card-background {
    background-color: rgba(10, 10, 10, 0.8);
}

.icon-button {
    background-color: transparent;
}

table th {
    background-color: var(--gradient-card-green);
    color: var(--font-color);
    font-family: var(--p-font);
    font-size: var(--p-size);
}