<!-- Administrar grupo -->
<div class="signup-view mt-4 overflow-auto">
    <section class=" mt-2">

        @if (isAdmin) {
        <!-- Botones de administración -->
    <div class="d-flex flex-column flex-md-row align-items-end align-items-md-center justify-content-end">
        <button class="btn btn-outline-light btn-sm my-1 my-md-2 me-md-3 d-flex align-items-center" [routerLink]="['/home/groupform/'+groupId]" title="Editar grupo">
            <span>Editar grupo</span>
            <mat-icon fontIcon="edit" class="ms-2"></mat-icon>
        </button>
        <button class="btn btn-outline-light btn-sm my-1 my-md-2 me-md-3 d-flex align-items-center" (click)="deleteGroup()" title="Eliminar grupo">
            <span>Eliminar grupo</span>
            <mat-icon fontIcon="delete" class="ms-2"></mat-icon>
        </button>
    </div>
    }

        <!-- Contenido -->
    <div class="card card-background text-white">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-4">
                <h4>MIEMBROS DEL GRUPO</h4>
            
                @if (isAdmin) {
                <button class="btn btn-outline-light btn-sm d-flex align-items-center" [routerLink]="['/home/groups/'+groupId+'/invitation']" title="Añadir miembro">
                    <span>Añadir miembro</span>
                    <mat-icon fontIcon="group_add" class="ms-2"></mat-icon>
                </button>
                }
            </div>

        <div class="table-container px-2">
        <table class="table table-striped table-rounded text-center align-middle rounded overflow-hidden">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-md-table-cell">Nombre</th>
                    <th scope="col" class="d-none d-md-table-cell">Username</th>
                    @if (isAdmin) {
                        <th scope="col" class="d-none d-md-table-cell action-field">Admin</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (member of arrUsers; track member.id) {
                    <!-- Columnas en mobile y filas en desktop -->
                    <tr class="d-flex d-md-table-row flex-column flex-md-row table-secondary table-striped-column">
                        <td class="align-middle">
                            <span class="fw-bold d-md-none me-2 d-inline-block"> Nombre:</span>
                            <span>{{ member.firstname }} {{ member.lastname }}</span>
                        </td>
                        <td class="align-middle">
                            <span class="fw-bold d-md-none me-2 d-inline-block"> Username:</span>
                            <span>{{ member.username }}</span>
                        </td>
                        @if (isAdmin) {
                            <td class="align-middle">
                                <span class="fw-bold d-md-none">Administrar:</span>
                                <span class="action-field">
                                <div id="container_actions" class="d-flex flex-row justify-content-center align-items-center gap-2 gap-md-3 mt-2 mt-md-0" title="Editar miembro">
                                    <button class="border-0 icon-button" (click)="editUser(member)">
                                        <mat-icon fontIcon="edit" ></mat-icon>
                                    </button>
                                    <button class="border-0 icon-button" (click)="deleteUser(member)" title="Eliminar miembro">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                    </button>
                                </div>
                                </span>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</section>
</div>