.card {
    border: 0;
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 0.8rem;
}

.card-background {
    background-color: rgba(10, 10, 10, 0.8);
}


.icon-button {
    background-color: transparent;
}