<div class="container mt-4">
    <div class="card text-white bg-primary-table mb-3">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
            <h4 class="mb-0 text-center flex-grow-1 ">MIEMBROS DEL GRUPO</h4>
            @if (isAdmin) {
                <button class="btn btn-outline-light my-2 me-3"  [routerLink]="['/home/groupform/'+groupId]" title="Editar grupo">
                    <mat-icon fontIcon="group" ></mat-icon>
                </button>
                <button class="btn btn-outline-light my-2 me-3"  [routerLink]="['/home/groups/'+groupId+'/invitation']"title="Añadir miembro">
                    <mat-icon fontIcon="group_add" ></mat-icon>
                </button>
                <button class="btn btn-outline-light my-2 me-3" (click)="deleteGroup()" title="Eliminar grupo">
                    <mat-icon fontIcon="group_off"></mat-icon>
                </button>
            }
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">username</th>
                    @if (isAdmin) {
                        <th scope="col" class="action-field">Acciones</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (member of arrUsers; track member.id) {
                    <tr>
                        <td>{{ member.firstname }} {{ member.lastname }}</td>
                        <td>{{ member.username }}</td>
                        @if (isAdmin) {
                            <td class="action-field">
                                <div>
                                    <button class="border-0 icon-button" (click)="editUser(member)">
                                        <mat-icon fontIcon="edit" ></mat-icon>
                                    </button>
                                    <button class="border-0 icon-button" (click)="deleteUser(member)">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>