  <!-- Contenedor para mostrar el histórico de mensajes -->
  <div class="container mt-4">
    <div class="chat">
        <div class="container chat-history" #scrollContainer>
            <ul id="messages-history" class="m-b-0">
                @if (arrMessages.length > 0) {
                    @for (msg of arrMessages; track msg.id) {
                        <div clas="row">
                        @if (msg.user_id === userId) {
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time float-right small">{{dateFormat(msg.timestamp)}} - <mark><strong> YO </strong></mark></span><br>
                                    <div class="message my-message float-right"> {{msg.message}} </div><br>
                                </div>
                            </li>
                        } @else {
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time small">{{dateFormat(msg.timestamp)}} - <b>{{msg.username}}</b></span><br>
                                    <div class="message other-message"> {{msg.message}} </div><br>
                                </div>
                            </li>
                        }
                    </div>
                    }
                } @else {
                    <li class="clearfix">
                        <div class="message-data">
                            <span class="message-data-time small">No hay mensajes</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="chat-message clearfix">
            <!-- Campo de texto y botón para enviar nuevos mensajes -->
            <div class="form-group">
                <textarea class="form-control" id="newMessage" [(ngModel)]="newMessage" rows="2"
                (focus)="scrollToBottom()" (keydown.enter)="sendMessage(); $event.preventDefault()" 
                placeholder="Introduce nuevo mensaje..." [disabled]="groupId === undefined || groupId === null || groupId === 0"></textarea>
            </div>
            <!-- deshabilitar el botón si groupId es undefined, null o 0 -->
            <button type="button" class="btn btn-outline-light mt-1 w-100" [disabled]="groupId === undefined || groupId === null || groupId === 0" (click)="sendMessage()">Enviar</button>
        </div>
    </div>
</div>