  <!-- Contenedor para mostrar el histórico de mensajes -->  
  <div class="container mt-4">
    <div class="chat">
        <div class="container chat-history bg-dark border-0 mt-4" #scrollContainer>
            <ul id="messages-history" class="m-b-0">
                @if (arrMessages.length > 0) {
                    @for (msg of arrMessages; track msg.id) {
                        <div class="row">
                        @if (msg.user_id === userId) {
                            <li class="clearfix ">
                                <div class="message-data">
                                    <span class="message-data-time float-right small">{{dateFormat(msg.timestamp)}} - <span class="user-text border border-1 rounded py-1 px-1"><strong> YO </strong></span></span><br>
                                    <div class=" my-message bg-white float-right mt-2 px-2 py-2 mb-3"> {{msg.message}} </div><br>
                                </div>
                            </li>
                        } @else {
                            <li class="clearfix">
                                <div class="message-data ">
                                    <span class="message-data-time small"> <span class="border border-1 rounded py-1 px-1"><strong>{{msg.username}}</strong></span> - {{dateFormat(msg.timestamp)}}</span><br>
                                    <div class=" message other-message bg-white mt-2 px-2 py-2 mb-3"> {{msg.message}} </div><br>
                                </div>
                            </li>
                        }
                    </div>
                    }
                } @else {
                    <li class="clearfix">
                        <div class="message-data">
                            <span class="message-data-time small">No hay mensajes</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="chat-message clearfix">
            <!-- Campo de texto y botón para enviar nuevos mensajes -->
            <div class="form-group">
                <textarea class="form-control" id="newMessage" [(ngModel)]="newMessage" rows="2"
                (focus)="scrollToBottom()" (keydown.enter)="sendMessage(); $event.preventDefault()" 
                placeholder="Introduce nuevo mensaje..." [disabled]="groupId === undefined || groupId === null || groupId === 0"></textarea>
            </div>
            <!-- deshabilitar el botón si groupId es undefined, null o 0 -->
             <div class="button-container my-3 px-3">
                <button type="button" class="btn btn-outline-light d-flex justify-content-center align-items-center w-100" [disabled]="groupId === undefined || groupId === null || groupId === 0" (click)="sendMessage()"> 
                    <span>Enviar</span>
                    <mat-icon fontIcon="send" class="ms-2"></mat-icon>
                </button>
            </div>
        </div>
        <div class="form-check form-switch py-3">
            <input class="form-check-input" type="checkbox" role="switch" id="autoRefreshToggle" [(ngModel)]="autoRefresh" (ngModelChange)="toggleAutoRefresh()">
            <label class="form-check-label text-light" for="autoRefreshToggle">
                Autorrefresco
            </label>
        </div>
    </div>
</div>