<form class="card card-color row g-1 p-4" novalidate [formGroup]="groupFormulario" (ngSubmit)="getDataForm()">
        <div class="mb-3">
            <label for="description" class="form-label">Título o descripción del grupo: *</label>
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descripción o nombre de tu grupo" required>
                @if (checkControl ('description', 'required')) {
                <p class="error-msg fw-semibold mt-1">Campo Obligatorio</p>
                }
                @if (checkControl ('description', 'minlength')) {
                <p class="error-msg fw-semibold mt-1">Introduce al menos 3 caracteres</p>
                }
            </div>

        <div class="mb-3">
            <label for="category" class="form-label">Categoría:</label>
            <select class="form-select" id="category" formControlName="category">
                <option selected disabled value="">--Selecciona una Categoría--</option>
                    @for(category of arrCategories; track category.id) {
                    <option [value]="category.id">{{category.description}}</option>
                    }
            </select>
                @if (checkControl ('category', 'required')) {
                <p class="error-msg fw-semibold mt-1">Requerido: Selecciona una categoría</p>
                }
            </div>

        <div class="mb-3">
            <input class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2 w-100" type="submit" [disabled]="!groupFormulario.valid" value={{btnText}}>
            <button class="btn btn-dark btn-lg px-5 py-1 rounded-3 mt-2 w-100" (click)="backHome()">Volver</button>
        </div>
</form>



