<form class="card card-color row g-1 class card p-3 shadow" novalidate [formGroup]="groupFormulario" (ngSubmit)="getDataForm()">
    <!-- Group Name -->
    <div class="row g-2">
        <div class="col-md-3 label">
            <label for="description" class="form-label mb-0">Título o descripción del grupo: *</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Fiesta de Fin de Año" required>
            @if (checkControl ('description', 'required')) {
                <p class="error-msg">Campo Obligatorio</p>
            }
            @if (checkControl ('description', 'minlength')) {
            <p class="error-msg">Introduce al menos 3 caracteres</p>
            }
        </div>
    </div>
    
    <!-- Category -->
    <div class="row g-2">
        <div class="col-md-3 label">
            <label for="category" class="form-label mb-0">Categoría:</label>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <select class="form-select" id="category" formControlName="category">
                        <option selected disabled value="">--Selecciona una Categoría--</option>                       
                        @for(category of arrCategories; track category.id) {
                            <option [value]="category.id">{{category.description}}</option>
                        }
                    </select>
                    @if (checkControl ('category', 'required')) {
                    <p class="error-msg">Requerido: Selecciona una categoría</p>
                    }
                </div>
            </div>
        </div>
    </div>


<div class="row g-1 mt-4 g-3">
    <div class="col-12 col-lg-4 col-md-6  col-sm-6 mt-2 mt-md-0 pe-0">
        <input class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2" type="submit" [disabled]="!groupFormulario.valid" value={{btnText}}>
    </div>
</div>
</form>

