<main class="d-flex justify-content-center align-items-baseline gradient-background vh-100 py-5">
    <div class="wrapper">
        <h3 class="custom text-light pt-md-4 pb-3 text-center">Editar miembro: @if (user !== undefined) { <span class="h3"> {{user.firstname}} {{user.lastname}}</span> } </h3>

        <form class="card card-color row g-1 p-4" [formGroup]="memberForm" (ngSubmit)="getDataForm()">
        
            <div class="mb-3">
                <label for="equitable" class="form-label">Reparto de gasto equitativo: *</label>
                <select class="form-select" id="equitable" formControlName="equitable" (change)="changeEquitable()">
                    <option selected disabled value="">--Selecciona una opción--</option>
                    <option>Si</option>
                    <option>No</option>
                </select>
                    @if (checkControl ('equitable', 'required')) {
                    <p class="error-msg fw-semibold mt-1">Requerido: Selecciona una opción</p>
                    }
            </div>
    
            <div class="mb-3">
                @if(!desactivePercent){
                    <label for="percent" class="form-label">Porcentaje: *</label>
                    <input type="number" class="form-control" id="percent" formControlName="percent" placeholder="0" max="100" min="0">
                        @if (checkControl('percent','required')) {
                        <p class="error-msg fw-semibold mt-1">Campo obligatorio</p>
                        }
                }
            </div>
        
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <input type="submit" value="Guardar" class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2"
                        [disabled]="!memberForm.valid || !memberForm.dirty" />
                    </div>
                </div>

                <div class="row justify-content-center justify-content-md-start mt-4">
                    <div class="col-auto">
                        <a class="btn btn-dark btn-lg px-3 py-1 rounded-3 mt-2 w-100" (click)="backGroup()">Volver</a>
                    </div>
                </div>

        </form>
    </div>
</main>



            
        