<div class="d-flex justify-content-center align-items-baseline gradient-background vh-100 py-5">
  <div class="wrapper">

    <h3 class="custom text-light pt-md-4 pb-3 text-center">Inicia Sesión</h3>
    <form class="card card-color row g-1 p-4" novalidate="true" #loginForm="ngForm" (ngSubmit)="getDataForm(loginForm)">  
      <div class="mb-3">
        <label for="mail" class="form-label">Email:</label>
        <input type="email" class="form-control" id="mail" name="mail" ngModel>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input me-3" id="rememberMe" name="rememberMe" ngModel>
        <label for="rememberMe">Remember me</label>
      </div>
      <div class="col-12 col-md-8">
        <p class="text-light mb-3">¿No tienes una cuenta? <a class="fw-semibold fs-5 text-light" [routerLink]="['/register']">Regístrate</a> </p>
      </div>
      <input type="submit" class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2"  value="Enviar">
    </form>
  </div>

</div>

