<section class=" d-flex justify-content-center">
  <div class="wrapper">

    <h3 class="mt-3 mb-3">Login</h3>
    <form action="" class="card p-3 shadow" novalidate="true" #loginForm="ngForm" (ngSubmit)="getDataForm(loginForm)">  
      <div class="mb-3">
        <label for="mail">email</label>
        <input type="email" class="form-control" id="mail" name="mail" ngModel>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input me-3" id="rememberMe" name="rememberMe" ngModel>
        <label for="rememberMe">Remember me</label>
      </div>
      <input type="submit" class="btn btn-outline-primary mt-3"  value="Enviar">
    </form>
  </div>
</section>