
.nav-link {
    color: var(--primary-accent);
    border-color: var(--font-color);  
    cursor: pointer;
}

.nav-link:hover {
    background-color: var(--secondary-accent);
}

.btn-outline-light{
    background-color: var(--secondary-accent);
    border-color: var(--secondary-accent);
    padding: 10px 20px 10px 20px;
}

.text-center{
    font-size:large;
    color: var(--primary-accent);
}

.temporary-button {
    width: 66px;
}

.no-groups-wrapper{
    align-items: center;
}