.wrapper {
    max-width: 450px;
    width: 100%;
}

.card-color {
    background-color: var(--gradient-card-green);
}

.nav-link {
    color: var(--primary-accent);
    border-color: var(--font-color);
    font-size: var(--p-size);
    font-family: var(--p-font);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(10, 10, 10);
    background-color: var(--primary-accent);
}

.btn-outline-light{
    background-color: var(--secondary-accent);
    border-color: var(--secondary-accent);
}

.text-center{
    font-size:large;
    color: var(--primary-accent);
}