
.nav-link {
    color: var(--primary-accent);
    border-color: var(--font-color);  
}

.btn-outline-light{
    background-color: var(--secondary-accent);
    border-color: var(--secondary-accent);
    padding: 10px 20px 10px 20px;
}

.text-center{
    font-size:large;
    color: var(--primary-accent);
}