label {
  align-content: center;
  font-size: var(--p-size);
  font-family: var(--p-font);
  color: var(--font-color);
}

.card-color {
  background-color: var(--gradient-card-green);
}

.btn {
  width: 100%;
}

.btn.btn-outline-custom {
  font-family: var(--p-font);
  background-color: var(--secondary-accent);
  color: var(--font-color);
  border: 1px solid white;
  transition: font-weight 0.2s ease;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
}

.btn.btn-outline-custom:hover {
  color: var(--font-color);
  font-weight: 700;
}


input.ng-invalid.ng-touched {
    border-bottom: 2px solid tomato;
}


input.ng-valid.ng-touched{
    border-bottom: 2px solid rgb(37, 134, 190)
}

.error-msg {
    font-size: small;
    color: tomato;
}

.unsubscribe {
  text-decoration: none;
}
.unsubscribe:hover{
  text-decoration: underline;
  cursor: pointer;
}