.btn {
  width: 100%;
}

.label {
  align-content: center;
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid tomato;
}


input.ng-valid.ng-touched{
    border-bottom: 2px solid rgb(37, 134, 190)
}

.error-msg {
    font-size: small;
    color: tomato;
}