<div class="signup-view mt-4">
    <section class="container mt-2">
        <div class="card text-white bg-primary-table mb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                <h4 class="mb-0 text-center flex-grow-1 ">SALDO POR USUARIO</h4>
                @if (isAdmin) {
                    <button class="btn btn-outline-light my-2 me-3" (click)="settleExpenses()" title="Saldar las cuentas del grupo">
                        <mat-icon fontIcon="payments" ></mat-icon>
                    </button>
                }
            </div>
    <table class="table table-striped">
        @if (arrMembers.length > 0) {
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Miembro</th>
                    <th scope="col" class="amount">Importe</th>
                    <th scope="col" class="amount">Participación</th>
                    <th scope="col" class="amount">Saldo</th>
                </tr>
            </thead>
            <tbody>
            @for(member of arrMembers; track member.user_id) {
            <tr class="align-middle">
                <td>{{ getUserName(member.user_id) }}
                <td class="amount">{{ formatAmount(member.totalEx) }}</td> 
                <td class="amount">{{ formatPercent(member.percent) }}</td>
                <td class="amount">{{ formatAmount(member.credit) }}</td>
            }
            </tbody>
        } @else {
            <thead>
                <tr>
                    <strong>NO HAY PAGOS ACTIVOS</strong>
                </tr>
            </thead>
        }
    </table>

