<div class="signup-view mt-4 overflow-auto">
    <section class=" mt-2">
        <div class="card card-background text-white">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-4">
                <h4>SALDO POR USUARIO</h4>
                @if (isAdmin) {
                    <button class="btn btn-outline-light btn-sm d-flex align-items-center" (click)="settleExpenses()" title="Saldar las cuentas del grupo">
                        <span>Saldar cuentas</span>
                        <mat-icon fontIcon="payments" class="ms-2"></mat-icon>
                    </button>
                }
            </div>
    <div class="table-container p-2">
    <table class="table table-striped table-rounded text-center align-middle rounded overflow-hidden">
        @if (arrMembers.length > 0) {
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col" class="d-none d-md-table-cell">Miembro</th>
                    <th scope="col" class="d-none d-md-table-cell amount">Gastos</th>
                    <th scope="col" class="d-none d-md-table-cell amount">Participación</th>
                    <th scope="col" class="d-none d-md-table-cell amount">Saldo</th>
                </tr>
            </thead>
            <tbody>
            @for(member of arrMembers; track member.user_id) {
            <!-- Columnas en mobile y filas en desktop -->
            <tr class="d-md-table-row">
                <td class="d-flex d-md-table-cell justify-content-between align-items-center">
                    <span class="fw-bold d-md-none me-2 d-inline-block">Miembro:</span>
                    <span>{{ getUserName(member.user_id) }}</span>
                </td>

                <td class="d-flex d-md-table-cell justify-content-between align-items-center">
                    <span class="fw-bold d-md-none me-2 d-inline-block amount">Gastos:</span>
                    <span>{{ formatAmount(member.totalEx) }}</span>
                </td>

                <td class="d-flex d-md-table-cell justify-content-between align-items-center">
                    <span class="fw-bold d-md-none me-2 d-inline-block amount">Participación:</span>
                    <span>{{ formatPercent(member.percent) }}</span>
                </td>

                <td class="d-flex d-md-table-cell justify-content-between align-items-center">
                    <span class="fw-bold d-md-none me-2 d-inline-block amount">Saldo:</span>
                    <span>{{ formatAmount(member.credit) }}</span>
                </td>
            }
            </tbody>
        } @else {
            <thead>
                <tr>
                    <strong>NO HAY PAGOS ACTIVOS</strong>
                </tr>
            </thead>
        }
    </table>
    </div>

