<div class="signup-view mt-4">
    <section class="container mt-2">
        <div class="card text-white bg-primary mb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                <h4 class="mb-0 text-center flex-grow-1 ">GASTOS DEL GRUPO</h4>
                @if (isAdmin) {
                    <i class="bi bi-plus-circle-fill me-3 h2" [routerLink]="['/home/expenses/'+groupId+'/add']" title="Añade un nuevo gasto"></i>
                    }
                <i class="bi bi-bank me-3 h2" (click)="getPayments()" data-bs-toggle="modal" data-bs-target="#staticBackdropPayments" title="Saldos"></i>
            </div>
            <table class="table table-striped">
                @if (arrExpenses.length > 0) {
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Pagado por</th>
                            <th scope="col" class="amount">Cantidad</th>
                            <th scope="col" class="date-text">Fecha</th>
                            @if (isAdmin) {
                                <th scope="col" class="action-field">Acciones</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                    @for(expense of arrExpenses; track expense.id) {
                    <tr class="align-middle">
                        <th scope="row">{{expense.id}}</th>
                        <td>{{ expense.description }}</td>
                        <td>{{ getUserName(expense.payer_user_id) }}</td>
                        <td class="amount">{{ formatAmount(expense.amount) }}</td>
                        <td class="date-text">{{ formatDate(expense.date) }}</td>
                        @if (isAdmin) {
                            <td class="action-field">
                                <div>
                                    <button class="border-0 icon-button" (click)="editExpense(expense.id)">
                                        <mat-icon fontIcon="edit" ></mat-icon>
                                    </button>
                                    <button class="border-0 icon-button" (click)="deleteExpenseById(expense.id)">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        }
                    </tr>
                    }
                    </tbody>
                } @else {
                    <thead>
                        <tr>
                            <strong>NO HAY GASTOS ACTIVOS</strong>
                        </tr>
                    </thead>
                }
            </table>
        </div>
    </section>
    <hr/>
    
</div>



<!-- Modal Pagos -->
<!-- <div class="modal fade" id="staticBackdropPayments" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registro de pagos del grupo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <table class="table table-striped">
                @if (arrMembers.length > 0) {
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Miembro</th>
                            <th scope="col" class="amount">Gastos pagados</th>
                            <th scope="col">Porcentaje</th>
                            <th scope="col" class="amount">Credito</th>
                            <th scope="col" >Equitativo</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(member of arrMembers; track member.id) {
                    <tr>
                        <td scope="row">{{member.id}}</td>
                        <td>{{ getUserName(member.id) }}
                        <td class="amount">{{ member.totalEx.toFixed(2) }}</td>
                        <td scope="row">{{member.percent}}</td>
                        <td class="amount">{{ member.credit.toFixed(2) }}</td>
                        <td scope="row">{{member.equitable}}</td>
                    }
                    </tbody>
                } @else {
                    <thead>
                        <tr>
                            <strong>NO HAY GASTOS ACTIVOS</strong>
                        </tr>
                    </thead>
                }
            </table>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Liquidar pagos</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div> -->