<div class="signup-view mt-4">
    <section class="container mt-2">
        <div class="card text-white bg-primary mb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                <h4 class="mb-0 text-center flex-grow-1 ">GASTOS DEL GRUPO</h4>
                @if (isAdmin) {
                    <i class="bi bi-plus-circle-fill me-3 h3" [routerLink]="['/home/expenses/'+groupId+'/add']" title="Añade un nuevo gasto"></i>
                    }
            </div>
            <table class="table table-striped">
                @if (arrExpenses.length > 0) {
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Descripción</th>
                            <th scope="col">Pagado por</th>
                            <th scope="col" class="amount">Cantidad</th>
                            <th scope="col" class="date-text">Fecha</th>
                            @if (isAdmin) {
                                <th scope="col" class="action-field">Acciones</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                    @for(expense of arrExpenses; track expense.id) {
                    <tr class="align-middle">
                        <!-- <th scope="row">{{expense.id}}</th> -->
                        <td>{{ expense.description }}</td>
                        <td>{{ getUserName(expense.payer_user_id) }}</td>
                        <td class="amount">{{ formatAmount(expense.amount) }}</td>
                        <td class="date-text">{{ formatDate(expense.date) }}</td>
                        @if (isAdmin) {
                            <td class="action-field">
                                <div>
                                    <button class="border-0 icon-button" (click)="editExpense(expense.id)">
                                        <mat-icon fontIcon="edit" ></mat-icon>
                                    </button>
                                    <button class="border-0 icon-button" (click)="deleteExpenseById(expense.id)">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        }
                    </tr>
                    }
                    </tbody>
                } @else {
                    <thead>
                        <tr>
                            <strong>NO HAY GASTOS ACTIVOS</strong>
                        </tr>
                    </thead>
                }
            </table>
        </div>
    </section>
    <hr/>
    
</div>