.nav-link {
    color: var(--primary-accent);
    border-color: var(--font-color);  
}

.nav-link::selection {
    color: var(--primary-accent);
    border-color: var(--font-color);
    font-weight: bold;  
}

/* .nav-link:active{
    color: var(--primary-accent);
    border-color: var(--font-color);
    font-weight: bold; 
} */

.nav-tabs{

    --bs-nav-tabs-link-active-color:var(--font-color);
    --bs-nav-tabs-link-active-bg:var(--secondary-accent);
}