<section id="group-info" class="py-5">
<div class="accordion mt-2 mb-5" id="infoGroupAccordion">
  <app-group-info-card [infoGroup]="group"></app-group-info-card>
</div>
</section>

  


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="expenses-tab" data-bs-toggle="tab" href="#expenses-tabpanel" role="tab" aria-controls="expenses-tabpanel" aria-selected="true">Gastos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="payments-tab" data-bs-toggle="tab" href="#payments-tabpanel" role="tab" aria-controls="payments-tabpanel" aria-selected="false">Pagos</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="admin-tab" data-bs-toggle="tab" href="#admin-tabpanel" role="tab" aria-controls="admin-tabpanel" aria-selected="false">Administración</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-bs-toggle="tab" href="#messages-tabpanel" role="tab" aria-controls="messages-tabpanel" aria-selected="false">Foro</a>

    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="expenses-tabpanel" role="tabpanel" aria-labelledby="expenses-tab">
      <app-expense-list></app-expense-list>

    </div>
    <div class="tab-pane" id="payments-tabpanel" role="tabpanel" aria-labelledby="payments-tab">
      <app-payments-list></app-payments-list>
    </div>
    <div class="tab-pane" id="admin-tabpanel" role="tabpanel" aria-labelledby="admin-tab">
      <app-group-admin></app-group-admin>
    </div>
    <div class="tab-pane" id="messages-tabpanel" role="tabpanel" aria-labelledby="messages-tab">
      <app-messenger [userId]="userId" [groupId]="getGroup()" ></app-messenger>
    </div>

    <router-outlet></router-outlet>
  </div>
