.card-box-1 {
    background-color: var(--gradient-card-purple);
}

.nav-link {
    color: var(--primary-accent);
    border-color: var(--font-color);
    font-size: var(--p-size);
    font-family: var(--p-font);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(10, 10, 10);
    background-color: var(--primary-accent);
}

.nav-link::selection {
    background-color: var(--secondary-accent);
    color: var(--font-color);
}

.nav-tabs{

    --bs-nav-tabs-link-active-color:var(--font-color);
    --bs-nav-tabs-link-active-bg:var(--secondary-accent);
}