.navbar-brand,
.navbar .dropdown-toggle,
.nav-link,
.invitations-font {
    color: var(--font-color);
}

.nav-link {
    cursor: pointer;
    font-weight: 400;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    align-self: center;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .btn {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.dropdown-menu li {
    padding: 5px;
}

.navbar-toggler {
    border-color: var(--font-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn.btn-outline-light:hover {
    font-weight: 500;
}

.notification {
    background: tomato;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 1rem;
}

.invitation-icons {
    padding-top: 3px;
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: var(--secondary-accent-solid);
}

.invitations-font {
    font-family: var(--p-font);
}

/* Media queries - Text sizes for desktop */
@media (max-width: 990px) {

    #cfunciona,
    #nosotros {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        margin-bottom: 5px;
    }
}

.hide {
    margin-left: 5px;
    align-items: center;
}

@media (max-width: 780px) {
    .hide {
        display: none;
    }
}

@media (max-width: 450px) {

    #logo,
    .hide {
        display: none;
    }
}