<nav class="navbar navbar-expand-lg">
    <div class="container py-2">
        <a class="navbar-brand fw-bold fs-3" [routerLink]="['/landing']">Explit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                @if (!isLoggedIn) {
                <li class="nav-item">
                    <a class="nav-link active text-light fs-5" aria-current="page"
                        (click)="navigate('instructions')">¿Cómo funciona?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" (click)="navigate('about')">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-lg btn-outline-light px-4 ms-md-4" [routerLink]="['/login']">Acceso</button>
                </li>
                } @else {
                <li class="nav-item" title="Inicio">
                    <a class="nav-link fs-5" [routerLink]="['/home']">
                        <mat-icon fontIcon="home"></mat-icon>
                    </a>
                </li>
                <li class="nav-item dropdown fs-5" title="Notificaciones">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <mat-icon fontIcon="notifications" ></mat-icon>
                    </a>
                    <ul class="dropdown-menu" title="Invitaciones">
                        <!-- <li><a class="dropdown-item fs-5">
                            <mat-icon fontIcon="group" ></mat-icon>
                            </a>
                        </li> -->
                        <li>
                            <!-- <hr class="dropdown-divider"> -->
                            <div class="modal-body">
                                <div class="invitation">
                                    @if(invitations.length > 0){

                                    
                                        @for(inv of invitations; track inv.id) {
                                        <p>{{ inv.message }}</p>
                                        <div class="flex-grow-1">
                                            <button class="btn btn-success btn-sm"
                                                (click)="handleInvitation(inv.id, 'accept')" title="Aceptar">
                                            <mat-icon fontIcon="check" ></mat-icon>
                                            </button>
                                            <button class="btn btn-danger btn-sm"
                                                (click)="handleInvitation(inv.id, 'reject')"  title="Rechazar">
                                            <mat-icon fontIcon="cancel"></mat-icon>
                                            </button>
                                        </div>

                                        }
                                    }@else {
                                        <p>No hay invitaciones pendientes</p>
                                    }
                                </div>
                            </div>
                        </li>
                        <!-- <hr class="dropdown-divider" title="Foro">
                        <li><a class="dropdown-item fs-5" [routerLink]="['/home/messages']">
                            <mat-icon fontIcon="chat"></mat-icon></a></li>
                        <hr class="dropdown-divider"> -->
                    </ul>
                </li>
                <li class="nav-item" title="Foro">
                    <a class="nav-link fs-5" [routerLink]="['/home/messages']">
                        <mat-icon fontIcon="forum"></mat-icon>
                    </a>
                </li>
                <li class="nav-item" title="Ajustes de usuario">
                    <a class="nav-link fs-5" [routerLink]="['/home', 'users', 'update']">
                        <mat-icon fontIcon="person_edit"></mat-icon>
                    </a>
                </li>

                <li class="nav-item" title="Cerrar sesión">
                    <button class="btn btn-lg btn-outline-light px-4 ms-md-4" (click)="logout()">
                        <mat-icon fontIcon="logout"></mat-icon>
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>