<nav class="navbar navbar-expand-lg">
    <div class="container py-2 d-flex justify-content-center justify-content-lg-between">
        <a id="logo" class="navbar-brand fw-bold fs-3" [routerLink]="['/landing']">Explit</a>

        <div class="justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                @if (!isLoggedIn) {
                <li class="nav-item" id="cfunciona">
                    <a class="nav-link text-light fs-5" aria-current="page"
                        (click)="navigate('instructions')">¿Cómo funciona?</a>
                </li>
                <li class="nav-item" id="nosotros">
                    <a class="nav-link fs-5" (click)="navigate('about')">Sobre nosotros</a>
                </li>
                <li class="nav-item" id="acceso">
                    <button class="btn btn-lg btn-outline-light px-4 ms-md-4" [routerLink]="['/login']">Acceso</button>
                </li>
                } @else {
                <li class="nav-item d-flex align-items-center me-2" title="Inicio">
                    <a class="nav-link fs-5 d-flex align-items-center" [routerLink]="['/home']">
                        <mat-icon fontIcon="home"></mat-icon><span class="hide ms-2">Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown fs-5 d-flex align-items-center me-2" title="Notificación de invitaciones">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <mat-icon fontIcon="notifications" ></mat-icon> <span class="hide ms-2">Invitaciones</span>
                        @if(processedInvitations.length > 0){
                            <span class="notification">{{processedInvitations.length}}</span>
                        }
                    </a>
                    <ul class="dropdown-menu w-auto" title="Invitaciones">
                        <li>
                            <div class="modal-body">
                                <div class="invitation">
                                    @if(processedInvitations.length > 0){
                                    <span class="invitations-font">Invitaciones</span>
                                        @for(inv of processedInvitations; track inv.id) {
                                        <div class="d-flex mt-3 justify-content-center align-items-center">
                                            <button class="btn btn-success btn-sm py-0 px-1 me-1 mb-1"
                                                (click)="handleInvitation(inv.id, 'accept')" title="Aceptar">
                                            <mat-icon fontIcon="check" class="invitation-icons"></mat-icon>
                                            </button>
                                            <button class="btn btn-danger btn-sm  py-0 px-1 me-1 mb-1"
                                                (click)="handleInvitation(inv.id, 'reject')"  title="Rechazar">
                                            <mat-icon fontIcon="cancel" class="invitation-icons"></mat-icon>
                                            </button>
                                            <!--
                                            <span class="ms-1 invitations-font">{{inv.description.substring(0,11)}}...</span>
                                            -->
                                            <span class="ms-1 invitations-font">{{inv.description}}</span>
                                        </div>

                                        }
                                    }@else {
                                        <span class="ms-1 invitations-font">No hay invitaciones pendientes</span>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item d-flex align-items-center me-2" title="Foro">
                    <a class="nav-link fs-5 d-flex align-items-center" [routerLink]="['/home/messages']">
                        <mat-icon fontIcon="forum"></mat-icon> <span class="hide ms-2">Foro</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center me-2" title="Ajustes de usuario">
                    <a class="nav-link fs-5 d-flex align-items-center" [routerLink]="['/home', 'users', 'update']">
                        <mat-icon fontIcon="settings"></mat-icon> <span class="hide ms-2">Cuenta</span>
                    </a>
                </li>

                <li class="nav-item" title="Cerrar sesión">
                    <button class="btn btn-lg btn-outline-light px-4 ms-md-4" (click)="logout()">
                        <mat-icon fontIcon="logout"></mat-icon>
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>