
  <div class="modal-title_block">
    <!-- llamada al icono de la API Material Icons de google a través del nombre -->
    <span class="material-symbols-outlined">{{modalData.icon}}</span>
    <!-- título del modal -->
    <h2 mat-dialog-title class="title">{{modalData.title}}</h2>
  </div>
  <!-- cuerpo del modal (scrollable) -->
  <mat-dialog-content class="mat-typography">{{modalData.body}}</mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- botón que simplemente cierra el modal. Se enseña solo si modalData.backAction == true -->
    @if (modalData.backAction){
      <button class="me-2 mb-2" mat-flat-button mat-dialog-close >Volver</button>
    }
    <!-- botón que lanza un evento utilizable en acciones posteriores y cierra el modal. Se enseña solo si modalData.acceptAction == true -->
    @if (modalData.acceptAction){
    <button class="me-2 mb-2" mat-flat-button (click)="modalAcceptFunction()" >Aceptar</button>
    }
  </mat-dialog-actions>