<div class="background row align-items-start gradient-background py-5">
    <div class="container p-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center">
                <div class="image d-none d-md-block">
                    <img class="rounded" src="../../../assets/images/register.jpg" alt="Grupo de amigos usando el ordenador">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h3 class="custom text-light pt-md-4 pb-3 text-center">Regístrate y empieza a compartir!</h3>
                <app-register-form></app-register-form>
            </div>
        </div>
    </div>
</div>
