<main class="background row align-items-start gradient-background py-5 vh-100 overflow-auto">
    <h3 class="custom text-light d-flex mt-3">¡Regístrate y empieza a compartir!</h3>
    <div class="wrapper">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <div class="d-none d-md-block">
                    <img class="rounded" src="../../../assets/images/register.jpg"
                        alt="Grupo de amigos usando el ordenador">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <app-register-form></app-register-form>
            </div>
        </div>
    </div>
</main>