<main class="d-flex justify-content-center align-items-baseline gradient-background vh-100 py-5 overflow-auto">
    <div class="wrapper">
        <h3 class="custom text-light pt-md-4 pb-3 text-center">{{tipo}} GASTO</h3>

        <form class="card card-color row g-1 p-4" [formGroup]="expenseForm" (ngSubmit)="getDataForm()">
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="description" formControlName="description"
                    placeholder="Descripción">
                @if (checkControl('description','required')) {
                <p class="error-msg fw-semibold mt-1">Campo obligatorio</p>
                }
            </div>
        
            <div class="mb-3 amount-field">
                <label for="amount" class="form-label">Cantidad (€)</label>
                <input type="number" class="form-control" id="amount" formControlName="amount" placeholder="Cantidad">
                @if (checkControl ('amount','required')) {
                <p class="error-msg fw-semibold mt-1">Campo obligatorio</p>
                }
            </div>
        
            <div class="mb-3 date-field">
                <label for="date" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="date" formControlName="date">
                @if (checkControl ('date','required')) {
                <p class="error-msg fw-semibold mt-1">Campo obligatorio</p>
                }
            </div>
        
            <div class="mb-3">
                <label for="payer_user_id" class="form-label">Usuario pagador</label>
                <select class="form-control" name="payer_user_id" id="payer_user_id" formControlName="payer_user_id">
                    <option value="" disabled selected>- Selecciona un usuario -</option>
                    @for (user of arrUsers; track user.id){
                    <option [value]="user.id">{{ user.firstname }}</option>
                    }
                </select>
                @if (checkControl ('payer_user_id','required')) {
                <p class="error-msg fw-semibold mt-1">Campo obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                <input type="submit" value="{{btnText}}" class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2"
                    [disabled]="!expenseForm.valid || !expenseForm.dirty" />
                    </div>
                </div>
                
                <div class="row justify-content-center justify-content-md-start mt-4">
                    <div class="col-auto">
                <a class="btn btn-dark btn-lg px-3 py-1 rounded-3 mt-2 w-100" [routerLink]="['/home/groups/'+groupId]">Volver</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>