.btn {
    width: 100%;
}

.wrapper {
    max-width: 900px;
    width: 100%;
}

.card-color {
    background-color: var(--gradient-card-green);
}

label {
    align-content: center;
    font-size: var(--p-size);
    font-family: var(--p-font);
    color: var(--font-color);
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid tomato;
}


input.ng-valid.ng-touched{
    border-bottom: 2px solid rgb(35, 128, 7)
}

.error-msg {
    font-size: small;
    color: tomato;
}

.date-field {
    width: 150px;
}

.amount-field {
    width: 150px;
}
