<form class="card card-color row g-1 p-4" novalidate="true" #invitationForm="ngForm" (ngSubmit)="getDataForm(invitationForm)">
  <!-- Username -->
   <div class="mb-3">
      <label for="username" class="form-label">Nombre de usuario: *</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Indica el username de tus amigos" (input)="onUsernameInput($event)" autocomplete="off" ngModel>
    </div>
      <!-- Sugerencias de username -->
      <div class="col-md-3 label"></div>
      @if (arrUsernameSuggestions && arrUsernameSuggestions.length > 0) {
        <ul class="suggestions-list">
          @for (user of arrUsernameSuggestions; track $index) {
              <li class="d-flex justify-content-between" (click)="editInvitations(invitationForm,$event,  user,'add')">{{user.username}} 
              <button type="button" class="btn btn-dark add-remove p-0 ps-2 pe-2 ms-3">+</button>
              </li>
          }
        </ul>
        }
        <!-- Usuarios añadidos -->
          <div class="col-md-3"></div>
            <div class="col-md-9 d-flex flex-wrap gap-2 overflow-auto">
              @for (user of arrInvitedUsers; track $index) {
              <div class="pill p-1 mb-3 d-flex flex-row align-items-center">
                <p class="m-1 small">{{user.username}}</p>
                <button type="button" class="btn btn-dark add-remove btn-circle px-2 py-0"
                  (click)="editInvitations(invitationForm,$event, user,'remove')">x
                </button>
              </div>
              }
        </div>
    

  <!-- Mensaje -->
    <div class="mb-3">
        <label for="message" class="form-label">Mensaje:</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="Acepta mi invitación para unirte al grupo" maxlength="400" ngModel>
    </div>

    <div class="mb-3">
        <input class="btn btn-outline-light btn-lg px-5 py-1 rounded-3 mt-2 w-100" type="submit" value="Enviar">
        <button type="button" class="btn btn-dark btn-lg px-5 py-1 rounded-3 mt-2 w-100" [routerLink]="['/home/groups/'+groupId]">Volver</button>
    </div>    
</form>
