<form class="row g-1" novalidate [formGroup]="invitationForm" (ngSubmit)="getDataForm()">
    <!-- Username  -->
    <div class="row g-2">
        <div class="col-md-3 label">
            <label for="username" class="form-label">Nombre de usuario: *</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="username" formControlName="username"
                placeholder="miguel2024" required>
            @if (checkControl ('username', 'required')) {
            <p class="error-msg">Campo Obligatorio</p>
            }
        </div>
    </div>

    <!-- ** Añadir más usuarios por email ** -->

    <!-- Mensaje -->
    <div class="row g-2">
        <div class="col-md-3 label">
            <label for="message" class="form-label">Mensaje:</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="message" formControlName="message"
                placeholder="Acepta mi invitación para unirte al grupo" maxlength="400">
            @if (checkControl ('message', 'maxLength')) {
            <p class="error-msg">Máximo 400 caracteres</p>
            }
        </div>
    </div>


    <div class="row g-1 mt-4">
        <div class="col-12 col-md-4 mt-2 mt-md-0 pe-2">
            <input class="btn btn-outline-dark w-100" type="submit" [disabled]="!invitationForm.valid" value="Enviar">
        </div>
    </div>
</form>
