.btn {
  width: 100%;
}

.add-remove {
  font-weight: 700;
  width: 40%;
}

.btn-circle {
  border-radius: 1.5rem;
}

.pill {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: row;
  gap: 8px;
  border-radius: 20px;
}

.suggestions-list {
  border: 1px solid var(--font-color);
  height: 145px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.suggestions-list li {
  padding: 4px;
  cursor: pointer;
  
  color: var(--font-color);
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
  color: var(--background-color);
}

label {
  align-content: center;
  font-size: var(--p-size);
  font-family: var(--p-font);
  color: var(--font-color);
}

.card-color {
  background-color: var(--gradient-card-green);
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid tomato;
}


input.ng-valid.ng-touched {
  border-bottom: 2px solid rgb(37, 134, 190)
}

.error-msg {
  font-size: small;
  color: tomato;
}

.unsubscribe {
  text-decoration: none;
}

.unsubscribe:hover {
  text-decoration: underline;
  cursor: pointer;
}

